@use '../../styles/scss/' as *;

.list {
  margin-top: 50px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: $border-radius;
  padding: 20px;
  @include flex(center, space-between);
  gap: 20px;
  overflow: auto;
}

.info {
  padding: 11px;
  background-color: rgba(71, 147, 255, 0.2);
  border-radius: 10px;
  max-width: 140px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    -webkit-box-shadow: -2px 4px 21px 3px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -2px 4px 21px 3px rgba(34, 60, 80, 0.17);
    box-shadow: -2px 4px 21px 3px rgba(34, 60, 80, 0.17);
  }
  @include flex(start, space-between);
  flex-direction: column;
  gap: 10px;
  h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  span {
    text-transform: capitalize;
    font-size: 13px;
    line-height: 16px;
    color: #939cb0;
  }
}
