
$f-light: 300;
$f-regular: 400;
$f-semi-bold: 600;
$f-bold: 700;
$f-extra-bold: 800;

// colours
$dark: #242424;
$primary: #4361ee;
$secondary: #5e60ce;
$tertiary: #22b0db;
$white: #fff;
$black: #000;

$box-shadow: rgba(100,100,111, .2) 0px 7px 29px 0px;

$header-height: 10rem;
$header-shrink-height: 5rem;
$border-radius: 20px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Montserrat', sans-serif;